@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.product_container {
  @include mixins.flex($direction: row, $gap: 30px);
  flex-wrap: wrap;

  .product {
    width: calc((100% - 90px) / 4);
    border: 1px solid #f3f3f3;
    min-width: 260px;

    &__data_container {
      @include mixins.flex($gap: 15px);
      text-align: center;
      padding: 30px 10px;

      &__title {
        color: inherit;
      }

      &__title:hover {
        color: variables.$primary-color;
      }
    }

    ul {
      @include mixins.flex($direction: row, $gap: 5px);
    }
    .star {
      color: variables.$star-color;
    }

    &:hover img {
      transform: scale(1.1) rotate(3deg);
    }

    &:hover .product__img_container__shopping {
      transform: translateY(-65px);
    }
  }
}

.product_container .product .product__img_container {
  position: relative;
  overflow: hidden;

  figure {
    overflow: hidden;
    height: 300px;

    img {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__shopping {
    width: 100%;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
  }
}

.product__img_container__shopping ul {
  @include mixins.flex($direction: row, $gap: 5px);

  li a,
  li .pe-7s-like {
    background-color: #fff;
    color: inherit;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;

    &:hover {
      background-color: variables.$primary-color;
      color: #fff;
    }
  }
  li .liked {
    color: red;

    &:hover {
      color: red;
    }
  }
}

@media (max-width: 1200px) {
  .product_container .product {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 990px) {
  .product_container .product {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 575px) {
  .product_container .product {
    width: 100%;
  }
}
