@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.product_topbar {
  @include mixins.flex($direction: row, $justify: space-between);
  border: variables.$secondary-opocity-border;
  width: 100%;
  padding: 20px 10px;

  .table-icon {
    margin-inline: 15px;
  }

  .table-icon,
  .list-icon {
    &.active,
    &:hover {
      color: variables.$primary-color;
      cursor: pointer;
    }
  }

  &__found {
    @include mixins.font(400, 18px);
    span {
      color: variables.$primary-color;
      font-weight: 700;
    }
  }

  &__dropdown {
    width: 160px;

    & + ul > li {
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  .product_topbar {
    @include mixins.flex();
  }
}
