// abstract
@use "./abstracts/mixins";
@use "./abstracts/variables";

// base
@use "./base/reset";
@use "./base/global";

// utilities
@use "./utilities/dropdown";
@use "./utilities/button";
@use "./utilities/bread-crumb";
@use "./utilities/pagination";
@use "./utilities/input-number";

// component
@use "./components/header/toggle-menu";
@use "./components/header/shop-bag";
@use "./components/header/search";
@use "./components/header/login-logo";
@use "./components/header/header-top";
@use "./components/header/middle";
@use "./components/header/navbar";

@use "./components/home/slider";
@use "./components/home/features";
@use "./components/home/product-category";
@use "./components/home/offer";

@use "./components/shop/shop";
@use "./components/shop/product-topbar";
@use "./components/shop/product";
@use "./components/shop/product-list-cart";

@use "./components/single-product/single-product";
@use "./components/single-product/slayd-images";

@use "./components/wishlist";

@use "./components/cart";

// layout
@use "./layout/header";
@use "./layout/footer";

// pages
@use "./pages/not-found";
