$background-color: linear-gradient(135deg, #40e0d0 0%, #7fffd4 100%);
$header_padding: 15px 8%;
$primary-color: #bac34e;
$star-color: orange;
$red-color: #dc3545;
$secondary-color: rgb(71, 71, 71);
$secondary-opocity-border: 1px solid rgb(174, 174, 174, 0.4);
