$background-color: linear-gradient(135deg, #40e0d0 0%, #7fffd4 100%);
$header_padding: 19px 8%;
$font: "Poppins", sans-serif;
$primary-color: #bac34e;
$secondary-color: rgb(71, 71, 71);
$secondary-opocity-border: 1px solid rgb(174, 174, 174, 0.4);
