@use "../abstracts/mixins";
@use "../abstracts/variables";

button {
  cursor: pointer;
}

.common_button {
  width: 180px;
  height: 50px;
  color: #fff;
  background-color: black;
  border: none;
  font-size: 18px;

  &:hover {
    background-color: variables.$primary-color;
  }
}
