@use "../abstracts/mixins";
@use "../abstracts/variables";

.coupon_area {
  display: flex;
  gap: 5px;
  margin: 30px 0;

  input[type="text"] {
    border: 1px solid #dee2e6;
    padding: 10px;
    max-width: 120px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="submit"] {
    border: none;
    padding: 15px 30px;
    background-color: black;
    color: #fff;
  }

  input[type="submit"]:hover {
    background-color: variables.$primary-color;
  }
}

@media (max-width: 767px) {
  .coupon_area {
    width: 100%;
  }
}
