@use "../abstracts/mixins";
@use "../abstracts/variables";

.input-label {
  @include mixins.flex($align: flex-start);
  width: 100%;

  input {
    outline: none;
    border: 1px solid #dee2e6;
    width: 100%;
    padding: 15px;
  }

  label {
    font-weight: 700px;
  }
}
