@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.checkout_top {
  margin-bottom: 20px;

  &__title {
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    background-color: #f1f1f1;

    p {
      display: flex;
      gap: 5px;
      color: variables.$secondary-color;
    }
  }
}
