@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.order_area {
  background-color: #f1f1f1;
  padding: 30px;
  height: fit-content;

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    opacity: 0.7;
  }

  table thead tr {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    th {
      padding: 20px 0;
      width: 50%;
      font-weight: 400;
    }
  }

  table tbody tr:not(:last-child) {
    border-bottom: 1px solid #5f5f60;
  }

  table tbody tr td {
    padding: 10px 0;
    width: 50%;

    span,
    h3 {
      opacity: 1;
      font-weight: 700;
    }
  }

  button {
    background-color: black;
    padding: 15px;
    color: #f1f1f1;
    border: none;
    width: 100%;
  }
}
