@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.LoginLogo {
  position: relative;

  ul {
    position: absolute;
    top: 35px;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 150px;
    z-index: 1;
    background-color: #fff;

    & > li a {
      padding: 5px 10px;
      display: block;
    }

    & > li:hover {
      background-color: rgb(231, 230, 230);
      cursor: pointer;
    }
  }
}
