@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.searh_container {
  & .pe-7s-search {
    font-size: 24px;
    cursor: pointer;
  }
}

.toggle_search {
  @include mixins.flex($justify: space-around);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 5%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  transform: scale(0);

  &--open {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

  .pe-7s-close {
    font-size: 30px;
    align-self: flex-end;
  }

  .search_wrp {
    width: 100%;
    text-align: center;
  }

  .search_area {
    @include mixins.flex($direction: row, $gap: 0);
    height: 100px;
    flex-wrap: nowrap;
  }

  &__button {
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    height: 100%;
    padding: 0 5px;

    & > .pe-7s-search {
      font-size: 30px;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 30px;
    outline: none;
    height: 100%;
    flex-grow: 1;

    &::placeholder {
      color: #fff;
    }

    &:enabled {
      border: none;
      border-bottom: 1px solid #fff;
    }
  }
}
