@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.shop_icon_container {
  position: relative;

  .pe-7s-shopbag {
    font-size: 24px;
    cursor: pointer;
  }

  span.basket_product_count {
    background-color: variables.$primary-color;
    border-radius: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    right: -15px;
  }
}

.toggle_shop_wrp {
  background-color: rgba(55, 55, 55, 0.5);
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 999;

  &--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.side_shop {
  @include mixins.flex($justify: space-between);
  width: 470px;
  height: 100%;
  background-color: #fff;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 50px 5%;
  overflow: auto;

  &--open {
    transform: translateX(0);
  }

  &__head {
    @include mixins.flex(
      $direction: row,
      $justify: space-between,
      $align: space-between
    );
    width: 100%;

    .pe-7s-close {
      font-size: 30px;
    }
  }

  &__btn_gropup {
    width: 100%;
    color: #fff;

    a {
      display: block;
      background-color: #010101;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      margin-top: 10px;
    }
  }
}

.toggle_shopping_cart {
  width: 100%;

  ul > li:not(:last-child) {
    border-bottom: variables.$secondary-opocity-border;
  }
}

.toggle_shopping_cart .product {
  @include mixins.flex(
    $direction: row,
    $justify: flex-start,
    $align: flex-start,
    $gap: 15px
  );
  flex-wrap: wrap;
  position: relative;
  padding: 20px;

  figure {
    object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: f3f3f3;
  }

  h4:hover {
    color: variables.$primary-color;
  }

  .pe-7s-close {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 0;
  }
}

.toggle_shopping_total {
  width: 100%;

  span {
    font-size: 1.2rem;
  }
  &__price {
    float: right;
  }
}

@media screen and (max-width: 575px) {
  .side_shop {
    width: 100%;
  }
}
