@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-Italic.woff2") format("woff2"),
    url("../../fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../../fonts/Poppins-ThinItalic.woff2") format("woff2"),
    url("../../fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("../../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
