@use "../abstracts/mixins";
@use "../abstracts/variables";

body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background: variables.$primary-color;
  color: #fff;
}

a {
  color: inherit;
}

a:hover {
  color: variables.$primary-color;
}
