@use "../abstracts/mixins";
@use "../abstracts/variables";

::selection {
  background: variables.$primary-color;
  color: #fff;
}

a {
  color: inherit;
}

a:hover {
  color: variables.$primary-color;
}
