@use "../abstracts/mixins";
@use "../abstracts/variables";

.cart_container {
  padding: 100px 8%;

  .cart_total_area {
    .total_price_container {
      margin: 30px 0;
      width: 400px;
    }

    .total_price_container ul > li {
      display: flex;
      justify-content: space-between;
      border: 1px solid #dee2e6;
      padding: 10px 30px;
      font-weight: 700;
    }

    a {
      color: #fff;
      padding: 15px 20px;
      background-color: black;
      cursor: pointer;
    }

    a:hover {
      background-color: variables.$primary-color;
    }
  }
}

.cart_table_area table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #dee2e6;
    padding: 15px;
    text-align: center;
  }

  th {
    font-weight: 700px;
  }

  td {
    figure {
      width: 100px;
      margin: 0 auto;
    }

    .delete {
      cursor: pointer;
    }

    .count {
      @include mixins.flex();
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .cart_container {
    padding: 100px 5%;

    .cart_total_area .total_price_container {
      width: 100%;
    }

    .cart_table_area table thead {
      display: none;
    }

    .cart_table_area table tbody td {
      @include mixins.flex($gap: 0);
    }
  }
}
