@use "../../../abstracts/mixins";
@use "../../../abstracts/variables";

.blog_with_swiper_section {
  padding-inline: 8%;
  margin-block: 100px;

  &__header {
    font-family: "Playfair Display";
    @include mixins.flex();
    margin-bottom: 50px;

    width: 100%;

    h2 {
      font-size: 35px;
      text-transform: uppercase;
    }

    h5 {
      text-transform: uppercase;
      color: variables.$primary-color;
    }
  }

  .mySwiper {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .blog_with_swiper_section {
    padding-inline: 5%;
  }
}
