@use "../../abstracts/mixins";
@use "../../abstracts/variables";

section.product_category_section {
  padding-inline: 8%;
}

section.product_category_section .product_categories {
  @include mixins.flex($direction: row, $gap: 50px);
  flex-wrap: wrap;
  margin-bottom: 50px;

  .product_category {
    @include mixins.flex($align: space-between, $gap: 15px);
    text-align: center;

    figure {
      width: 70px;
      height: 70px;
      cursor: pointer;
    }

    figure,
    p {
      cursor: pointer;
    }

    p.active {
      color: variables.$primary-color;
    }
  }
}

.product_container {
  @include mixins.flex($direction: row, $gap: 30px);
  flex-wrap: wrap;

  .product {
    width: calc((100% - 90px) / 4);
    border: 1px solid #f3f3f3;

    &__data_container {
      @include mixins.flex($gap: 15px);
      text-align: center;
      padding: 20px 10px;

      &__title {
        color: inherit;
      }

      &__title:hover {
        color: variables.$primary-color;
      }
    }

    ul {
      @include mixins.flex($direction: row, $gap: 5px);
    }
    .star {
      color: orange;
    }

    &:hover img {
      transform: scale(1.1) rotate(3deg);
    }

    &:hover .product__img_container__shopping {
      transform: translateY(-65px);
    }
  }
}

.product_container .product .product__img_container {
  position: relative;
  overflow: hidden;

  figure {
    overflow: hidden;
    height: 300px;

    img {
      transition: transform 0.5s ease-in-out;
    }
  }

  &__shopping {
    width: 100%;
    position: absolute;
    bottom: -40px;
    transition: transform 0.3s ease-in-out;
  }
}

.product__img_container .product__img_container__shopping ul {
  @include mixins.flex($direction: row, $gap: 5px);

  li a {
    background-color: #fff;
    color: inherit;
    font-size: 20px;
    padding: 12px;

    &:hover {
      background-color: variables.$primary-color;
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .product_container .product {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 990px) {
  .product_container .product {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 575px) {
  .product_container .product {
    width: 100%;
  }

  section.product_category_section {
    padding-inline: 5%;
  }
}
