@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.product_with_swiper_section {
  width: 100%;
  padding-inline: 8%;
  margin: 100px 0;

  &__header {
    font-family: "Playfair Display";
    @include mixins.flex();
    margin-bottom: 50px;

    h2 {
      font-size: 35px;
      text-transform: uppercase;
    }

    h5 {
      text-transform: uppercase;
      color: variables.$primary-color;
    }
  }

  .product {
    border: 1px solid #f3f3f3;

    &__data_container {
      @include mixins.flex($gap: 15px);
      text-align: center;
      padding: 30px 10px;

      &__title {
        color: inherit;
      }

      &__title:hover {
        color: variables.$primary-color;
      }
    }

    ul {
      @include mixins.flex($direction: row, $gap: 5px);
    }
    .star {
      color: variables.$star-color;
    }

    &:hover img {
      transform: scale(1.1) rotate(3deg);
    }

    &:hover .product__img_container__shopping {
      transform: translateY(-65px);
    }
  }

  .product__img_container {
    position: relative;
    overflow: hidden;

    figure {
      overflow: hidden;
      height: 300px;

      img {
        transition: transform 0.5s ease-in-out;
      }
    }

    &__shopping {
      width: 100%;
      position: absolute;
      bottom: -50px;
      transition: transform 0.3s ease-in-out;
    }
  }
}

.mySwiper {
  &:hover .swiper-button-next,
  &:hover .swiper-button-prev {
    display: block;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: variables.$primary-color;
    border: 1px solid variables.$primary-color;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: none;

    &:hover {
      color: #fff;
      background-color: variables.$primary-color;
    }
  }
}

@media (max-width: 767px) {
  .product_with_swiper_section {
    padding-inline: 5%;
  }
}
