@use "../../abstracts/mixins";
@use "../../abstracts/variables";

section.product_category_section {
  padding-inline: 8%;
}

section.product_category_section .product_categories {
  @include mixins.flex($direction: row, $gap: 50px);
  flex-wrap: wrap;
  margin-bottom: 50px;

  .product_category {
    @include mixins.flex($align: space-between, $gap: 15px);
    text-align: center;

    figure {
      width: 70px;
      height: 70px;
      cursor: pointer;
    }

    figure,
    p {
      cursor: pointer;
    }

    p.active {
      color: variables.$primary-color;
    }
  }
}

@media (max-width: 575px) {
  section.product_category_section {
    padding-inline: 5%;
  }
}
