@use "../abstracts/mixins";
@use "../abstracts/variables";

.wishlist {
  padding: 100px 8%;

  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid #dee2e6;
      padding: 15px;
      text-align: center;
    }

    th {
      font-weight: 700px;
    }

    td figure {
      width: 100px;
      margin: 0 auto;
    }

    td button {
      color: #fff;
      background-color: black;
      border: none;
      padding: 10px 20px;
    }

    td button:hover {
      background-color: variables.$primary-color;
    }

    td.out_stock {
      color: variables.$red-color;
    }
  }
}

@media (max-width: 767px) {
  .wishlist table thead {
    display: none;
  }

  .wishlist table tbody td {
    @include mixins.flex($gap: 0px);
  }
}
