@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.account_container {
  padding: 100px 8%;
  display: flex;
  gap: 30px;

  .buttons_area {
    flex-basis: 25%;
  }
  .content_area {
    padding: 30px;
    flex-basis: 75%;
    border: variables.$secondary-opocity-border;
  }
}

.account_container .buttons_area ul {
  width: 100%;

  li {
    background-color: black;
    color: white;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      color: variables.$primary-color;
    }

    &.active {
      background-color: variables.$primary-color;
      color: white;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 15px 20px;
    }
  }

  li:not(:last-child) {
    border-bottom: 2px solid gray;
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  .account_container {
    flex-direction: column;
    gap: 0;

    .buttons_area {
      flex-basis: 100%;
    }
    .content_area {
      flex-basis: 100%;
      border: variables.$secondary-opocity-border;
    }
  }
}

@media (max-width: 768px) {
  .account_container {
    padding: 100px 5%;
  }
}
