@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.account_details {
  border: variables.$secondary-opocity-border;
  padding: 30px;
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .full_name {
      display: flex;
      gap: 30px;
    }
  }
}

@media (max-width: 480px) {
  .account_container form .full_name {
    flex-direction: column;
    gap: 0;
  }
}
